<div class="col-lg-9">
    <div class="d-grid gap-3 gap-lg-5">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center flex-grow-1 mb-2">
                    <div class="col">
                        <h4 class="card-header-title">Student profile progress</h4>
                    </div>
                    <div class="col-auto">
                        <span class="text-dark fw-semi-bold">2 section completed</span> out of 4
                    </div>
                </div>
                <div class="progress rounded-pill mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar" role="progressbar" style="width: 25%; opacity: .8" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar" role="progressbar" style="width: 25%; opacity: .6" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar" role="progressbar" style="width: 25%; opacity: .4" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="list-inline">
                    <div class="list-inline-item">
                        <span class="legend-indicator bg-primary"></span>Bais info
                    </div>
                    <div class="list-inline-item">
                        <span class="legend-indicator bg-primary opacity"></span>Address
                    </div>
                    <div class="list-inline-item">
                        <span class="legend-indicator"></span>Legal infromation
                    </div>
                    <div class="list-inline-item">
                        <span class="legend-indicator"></span>Education infromation
                    </div>
                </div>
            </div>
            <div class="card-header border-bottom">
                <h4 class="card-header-title">Basic info</h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">Profile photo</label>
                    <div class="col-sm-9">
                        <div class="d-flex align-items-center">
                            <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img  " style="border-radius:50%" src='@((model.ProfilePicture)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                            <div class="d-grid d-sm-flex gap-2 ms-4">
                                <div class="form-attachment-btn btn btn-primary btn-sm">
                                    Upload photo
                                    <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader">
                                </div>
                                <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">Full name in English <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Will be used as display name"></i></label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="English FullName" aria-label="Clarice" @bind="model.FullNameEN">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">Full name in Arabic <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Will be used as formal name"></i></label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="Arabic FullName" aria-label="Clarice" @bind="model.FullNameArabic">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="emailLabel" class="col-sm-3 col-form-label form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="emailLabel" placeholder="example@example.com" aria-label="example@example.com" @bind="model.Email">
                    </div>
                </div>
                <div class="js-add-field row mb-4">
                    <label for="phoneLabel" class="col-sm-3 col-form-label form-label">Phone</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="js-input-mask form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" @bind="model.Phone">
                        </div>
                    </div>
                </div>
                 <div class="row mb-4">
                        <label for="genderLabel" class="col-sm-3 col-form-label form-label">Gender</label>
                        <div class="col-sm-9">
                            <div class="tom-select-custom mb-3">
                                <select class="js-select form-select" id="genderLabel" @bind="model.Gender">
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="0">Male</option>
                                    <option value="1" >Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="card-footer pt-0">
                    <div class="d-flex justify-content-end gap-3">
                        <a class="btn btn-white" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary" href="javascript:;">Save changes</a>
                    </div>
                </div>
            </div>
            <div id="editAddressCard" class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-header-title">Address</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row mb-4">
                            <label for="locationLabel" class="col-sm-3 col-form-label form-label">Location</label>
                            <div class="col-sm-9">
                                <div class="tom-select-custom mb-3">
                                    <select class="js-select form-select" id="locationLabel" @bind="model.Country">
                                    <option value="" disabled selected>Select Country</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="city" id="cityLabel" placeholder="City" aria-label="City" @bind="model.City" >
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="addressLine1Label" class="col-sm-3 col-form-label form-label">Address line 1</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="addressLine1" id="addressLine1Label" placeholder="Your address" aria-label="Your address" @bind="model.Address">
                            </div>
                        </div>                  
                        <div class="row mb-4">
                            <label for="zipCodeLabel" class="col-sm-3 col-form-label form-label">Zip code <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="You can find your code in a postal address."></i></label>
                            <div class="col-sm-9">
                                <input type="text" class="js-input-mask form-control" name="zipCode" id="zipCodeLabel" placeholder="Your zip code" aria-label="Your zip code" @bind="model.ZipCode" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer pt-0">
                    <div class="d-flex justify-content-end gap-3">
                        <a class="btn btn-white" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary" href="javascript:;">Save changes</a>
                    </div>
                </div>
            </div>
            <div id="editlegalCard" class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-header-title">Legal Infromation</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <label for="locationLabel" class="col-sm-3 col-form-label form-label">Nationality</label>
                        <div class="col-sm-9">
                            <div class="tom-select-custom mb-3">
                                <select class="js-select form-select" id="locationLabel" @bind="model.Nationality">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="addressLine1Label" class="col-sm-3 col-form-label form-label">National ID number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="addressLine1" id="addressLine1Label" placeholder="Your address" aria-label="Your address" @bind="model.NID">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="addressLine1Label" class="col-sm-3 col-form-label form-label">Passport number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="addressLine1" id="addressLine1Label" placeholder="Your address" aria-label="Your address" @bind="model.Passport">
                        </div>
                    </div>
                  
                    <div class="row mb-4">
                        <label for="birthdateeLabel" class="col-sm-3 col-form-label form-label">Birthday <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Your legal birth day"></i></label>
                        <div class="col-sm-9">
                            <input type="date" class="js-input-mask form-control" name="birthdateeLabel" id="birthdateeLabel" placeholder="" aria-label="Your birthdate" @bind="model.Birthday" >
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Passport</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                                      <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img" src='@((model.PassportImg)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                                <div class="d-grid d-sm-flex gap-2 ms-4">

                                    <div class="form-attachment-btn btn btn-primary btn-sm">
                                        
                                        Upload Passport
                     
                                        <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader">
                                    </div>
                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">National ID</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                                      <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img" src='@((model.NIDImage)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                                <div class="d-grid d-sm-flex gap-2 ms-4">
                                    <div class="form-attachment-btn btn btn-primary btn-sm">
                                        Upload National ID
                                        <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader">
                                    </div>
                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Birth certificate</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                                      <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img" src='@((model.BirthCImg)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                                <div class="d-grid d-sm-flex gap-2 ms-4">
                                    <div class="form-attachment-btn btn btn-primary btn-sm">
                                        Upload certificate
                                        <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader">
                                    </div>
                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-0">
                    <div class="d-flex justify-content-end gap-3">
                        <a class="btn btn-white" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary" href="javascript:;">Save changes</a>
                    </div>
                </div>
            </div>
            <div id="editlegalCard" class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-header-title">Educational Infromation</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <label for="locationLabel" class="col-sm-3 col-form-label form-label">Last qualification</label>
                        <div class="col-sm-9">
                            <div class="tom-select-custom mb-3">
                                <select class="js-select form-select" id="locationLabel" @bind="model.LastQual">
 
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Bachelor certificate :</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                                                  <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img" src='@((model.BCImg)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                                <div class="d-grid d-sm-flex gap-2 ms-4">
                                    <div class="form-attachment-btn btn btn-primary btn-sm">
                                        Upload certficate
                                        <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader" />
                                    </div>
                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Diploma certificate :</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                                                  <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img" src='@((model.DCImg)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                                <div class="d-grid d-sm-flex gap-2 ms-4">
                                    <div class="form-attachment-btn btn btn-primary btn-sm">
                                        Upload certficate
                                        <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader" />
                                    </div>
                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Master's certificate :</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                                                  <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img" src='@((model.MCImg)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                                <div class="d-grid d-sm-flex gap-2 ms-4">
                                    <div class="form-attachment-btn btn btn-primary btn-sm">
                                        Upload certficate
                                        <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader" />
                                    </div>
                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Ph.D certificate :</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                                                  <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                <img id="avatarImg" class="avatar-img" src='@((model.PhdCimg)??"./assets/img/160x160/img99.jpg")' alt="Image Description">
                            </label>
                                <div class="d-grid d-sm-flex gap-2 ms-4">
                                    <div class="form-attachment-btn btn btn-primary btn-sm">
                                        Upload certficate
                                        <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader" />
                                    </div>
                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-0">
                    <div class="d-flex justify-content-end gap-3">
                        <a class="btn btn-white" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary" href="javascript:;">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @code {
        public EditContext? editContext;
        protected override void OnInitialized()
        {
            editContext = new(model);
            editContext?.SetFieldCssClassProvider(new CustomFieldClassProvider());
            WFS.OnChange += StateHasChanged;
        }
        public StudentAccount model => WFS.Model ?? new();
        [Parameter]
        public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
        void OnClick(MouseEventArgs e, string page)
        {
            WFS.Page = page;
            stateHasChanged();
            OnClickCallback.InvokeAsync(e);
        }
        async void stateHasChanged()
        {
            if (!WFS.IsLoggedIn)
            {
                await BrowserStorage.SetAsync("Page", "Login");
                WFS.Page = "Login";
            }
            StateHasChanged();
        }
    }
